@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&family=Roboto+Slab&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Slab', serif;
  background-color: rgb(243, 243, 243);
}

.montserrat {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.813rem;
}
